.logintitle{
	font-family: "Lato2";
	font-size: 34px;
}
.labels{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 100;
	color: gray;
	letter-spacing: 1.3px;
}
.semicontainer {
	padding:25px;
}
.br1{
	border-left: 1px solid #ccc;
	padding-left: 20px;
}

input[type="text"],input[type="password"]{
	border-radius: 2px;
	padding: 17px !important;
	border: 1px solid #E5E5E5;
}
 @font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato2';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}